h1 {
	text-align: center;
	margin-bottom: 20px;
}
#calculator-body {
	width: 350px;
    height: 250px;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    align-items: center;
    background-image: url("../img/squared_metal.png");
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;

}

input.output-area{
	width: 130px;
	height: 35px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888888;
	background: transparent;

}

input.output-area-center {
	width: 60px;
	height: 35px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #888888;
	background: transparent;
}

button.btn.btn-info.btn-m {
	width: 70px;
	height: 25px;
	margin: 5px;
	font-size: 15px;
	text-align: center;
	margin-left: 5px;
	box-shadow: 2px 2px 1px #888888;

}
#operators {
	background-image: url("../img/gun_metal.png");
	color: white;
}
#clear-bttn, #binary-bttn, #hex-bttn, #dec-bttn {
	color: white;
	background-image: url("../img/gun_metal.png")
}