.button {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: #F0F0F0;
	background: radial-gradient(#E8E9EB, #E0E1E1, #A5A4A2);
	background: -webkit-radial-gradient(#E8E9EB, #E0E1E1, #A5A4A2);
	background: -o-radial-gradient(#E8E9EB, #E0E1E1, #A5A4A2);
	background: -moz-radial-gradient(#E8E9EB, #E0E1E1, #A5A4A2);
	margin: 10px;
}
.button:hover {
	background:#E0E1E1;
}

body{
	background-image: url("/img/ping.jpg");
}
body#pong{
	background-image: url("/img/pong1.jpg");
}
.scoreboard {
	width: 250px;
	height: 100px;
	background-color: #4B669B;
	border: 3px solid white;
	text-align: center;
}
h1, h2 {
	margin: 10px;

}